CompileFlags:                             
    Add: 
      [
        -std=c++11,
        -Wno-documentation,
        -Wno-missing-prototypes,
      ]
Diagnostics:
  ClangTidy:
    Add:
    [
        performance-*,
        bugprone-*,
        clang-analyzer-*,
    ]

